*.pyc
*.pyo
*.fzn
*.dll
*.png
*.bam
*.egg
pandac/
*.dis
*.log
screenshots/
sign/
whitelist/
news/
Library/
*.buildings
*.trackRecords
*.DS_Store
backups/
settings.json
errorCode

# PyCharm IDE
.idea
venv
