*.pyc
*.pyo
*.fzn
*.dll
pandac/
*.dis
*.log
screenshots/
sign/
whitelist/
news/
Library/
*.buildings
*.trackRecords
*.DS_Store
backups/
settings.json
errorCode
PPYTHON_PATH

# PyCharm IDE
.idea
venv/

