*.pyc
*.pyo
*.fzn
*.dll
pandac/
*.dis
*.log
screenshots/
sign/
whitelist/
news/
Library/
*.buildings
*.trackRecords
*.DS_Store
backups/
settings.json
errorCode

# PyCharm IDE
.idea
*.h
venv/*
Panda3D-1.11.0-x64/
PPYTHON_PATH
Panda3D/